* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

:root {
  /* ### Primary */
  /* Text */
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  /* Background gradient: */
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(var(--Soft-violet), var(--Soft-blue));
}

.active {
  font-weight: 800;
}

.main-container {
  border-radius: 20px;
  background-color: white;
  min-width: 60vw;
}

.faq {
  padding-left: 20px;
  font-weight: 800;
  font-size: 2vw;
}

.accordion-button {
  font-size: 1vw;
  background-color: transparent !important;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23f47c57' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
}
.text-icon {
  color: red;
}

.accordion-button:not(.collapsed):after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23f47c57' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
}

.desktop-img {
  left: 30%;
  width: 22vw;
}

.shadow-img {
  width: 22vw;
  left: 30%;
  top: 80px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 768px) {
  .desktop-img {
    top: -10px;
    left: 50%;
    width: 45vw;
  }

  .shadow-img {
    width: 45vw;
    left: 50%;
    top: 60px;
  }

  .accordion-button {
    font-size: 3vw;
    border: solid white !important;
    background-color: transparent !important;
  }

  .main-container {
    border-radius: 20px;
    background-color: white;
    width: 80%;
  }

  .accordion {
    margin-top: 15vh;
  }

  .faq {
    padding: 0;
    font-size: 5vw;
    text-align: center;
    margin-bottom: 20px;
  }
}
